.hero {
  background-image: url(../../assets/heroImg/background.png);
  background-repeat: no-repeat;
  background-position: inherit;
  background-position: center;
  background-size: cover;
  padding-right: 9.5rem;
  width: auto;
  height: 900px;
}

h2,
p {
  color: #ffffff;
  font-family: "Lora";
  font-weight: 700;
  text-align: right;
}

h2 {
  font-size: 6.4rem;
  margin-top: 7.2rem;
  margin-bottom: 3.2rem;
}

p {
  font-size: 32px;
}

.heroBtn {
  display: flex;
  justify-content: end;
}

.ctaBtn {
  display: flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  border-radius: 8px;
  border: 2px solid #fff;
  padding: 1.2rem 2.8rem;
  /* / 48 / 64 / 80 */
  margin-top: 4.8rem;
  background-color: transparent;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Lora";
}
