.testimonials-container {
  background-image: url(../../assets/testimonial_images/testimonial_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 876px; */
  padding-top: 6rem;
  padding-bottom: 12rem;
  z-index: -1;
}

.testimonials-container h1 {
  position: relative;
  color: #ebebeb22;
  font-size: 128px;
  font-family: Lora;
  font-weight: 700;
  text-align: center;
}

.testimonials-container h1 p {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 58px;
  font-family: "Lora";
  font-weight: 700;
}

/****************************************/
/* BELOW 1100px (for samll computers) */
/****************************************/
@media (max-width: 69rem) {
  .testimonials-container h1 {
    font-size: 100px;
  }

  .testimonials-container h1 h3 {
    font-size: 50px;
  }
}

/****************************************/
/* BELOW 815px (for tablet) */
/****************************************/
@media (max-width: 51rem) {
  .testimonials-container h1 {
    font-size: 88px;
  }

  .testimonials-container h1 h3 {
    font-size: 42px;
  }
}

/****************************************/
/* BELOW 760px (for mobile) */
/****************************************/
@media (max-width: 47.5rem) {
  .testimonials-container h1 h3 {
    top: 50%;
  }

  .testimonials-container h1 {
    font-size: 40px;
  }

  .testimonials-container h1 h3 {
    font-size: 32px;
  }
}
