.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.subscribe-container h2 {
  color: #741906;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 600;
}

.subscribe-container p {
  color: #12273d;
  text-align: center;
  font-size: 16px;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.8px;
}

.input-container {
  position: relative;
  display: flex;
  gap: 18px;
}

.input-container input {
  width: 276px;
  height: 54px;
  padding-left: 8px;
  border: 0.5px #741906 solid;
}

.input-container input::placeholder {
  color: #12273d;
  font-size: 18px;
  font-family: Lato;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.input-container input {
  font-size: 18px;
}

.input-container button {
  cursor: pointer;
  width: 135px;
  height: 54px;
  flex-shrink: 0;
  background: #741906;

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Lato;
  font-weight: 700;
}

.error-message {
  /* opacity: 0; */
  transform: translateY(-120%);
  position: absolute;
  bottom: -26px;
  left: 20px;
  transition: all 0.3s ease-in;
  z-index: -2;
}

.show-error .error-message {
  /* opacity: 1; */
  transform: translateY(0);
}

.input-container p {
  color: red;
  font-weight: 500;
}

/****************************************/
/* BELOW 600px (for mobiles) */
/****************************************/
@media (max-width: 37.5rem) {
  .input-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 18px;
  }
}
