.contact-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-container h2 {
  color: #741906;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 600;
  text-align: center;
}

.contact-infos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-info-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.contact-info-container p,
.contact-info-container a {
  display: block;
  color: #12273d;
  font-size: 16px;
  font-family: Nunito Sans;
  font-weight: 400;
  text-decoration: none;
}
