.description-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.description-container h1 {
  cursor: pointer;
  color: #741906;
  font-size: 32px;
  font-family: Lora;
  font-weight: 700;
}

.description-container h1 span {
  font-weight: 400;
}

.description-container p {
  color: #12273d;
  font-size: 16px;
  font-family: Nunito Sans;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.8px;

  margin-left: 8px;
}

/****************************************/
/* BELOW 1130px (for small computers) */
/****************************************/
@media (max-width: 70.6rem) {
  /* .footer-container {
    padding: 6.3rem 11rem 4rem 13.6rem;
  } */

  .description-container h1,
  .description-container p {
    text-align: center;
  }

  .description-container p {
    font-size: 18px;
  }
}
